body {
  font-size: 16px;
  color: rgb(15, 14, 14);
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
.header-nav {
  background-color: #8f8f8f;
  border-radius: 0;
  border: 0;
}


h2 {
  padding: 8px 0px 0px;
  font-weight: bold;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.nav-item {
  margin-top: 10px;
}
.nav-item a {
  color: #000000;
  text-align: center;
}
.nav-item a:hover {
  background: #E7E7E7;
}
.nav-item a span {
  font-size: 1.8em;
}
/* END HEADER */

/* HOME PAGE */
#Chicken, #Beef, #Sushi {
  border: 1px solid #2e2530;
  background-color: rgb(175, 174, 174);
  height: auto;
  padding: 8px;
  margin: 20px;
  overflow: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #140606;
}
section > p {
  font-weight: bold;
  font-size: 1.2em;
}
/* END HOME PAGE */

@media (min-width : 768px) {
  .navbar-brand {
    padding: 15px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
  }
  /* End Header */
}


@media only screen and (min-width : 768px) {
  .navbar-collapse.custom-menu, button {
      display: none!important;
  }

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}